.login_container {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(5rem);
}

.login_container > h1 {
  color: teal;
  font-size: 2.5rem;
  text-align: center;
  width: 60%;
}

.login_inner_container,
.logout_inner_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid teal;
  border-radius: 0.5rem;
  width: 25rem;
  padding: 1rem 0;
  margin: 1rem 0;
}

.login_inner_container h1,
.logout_inner_container h1 {
  color: teal;
}
