html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #eaeaea;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn {
  padding: 0.5rem 1.5rem;
  border: 5px solid teal;
  font-size: 1rem;
  color: teal;
  font-weight: 700;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0.5rem;
}

.btn:hover {
  border: 5px solid #008080db;
  color: #008080db;
}

.btn:disabled {
  border: 5px solid #0080804d;
  color: #0080804d;
  cursor: no-drop;
}
